/*-------------------------*/
/*    INITIAL SETUP        */
/*-------------------------*/

html {
    padding-bottom: 100px;
}

/*-------------------------*/
/*    REUSABLE CONTENT     */
/*-------------------------*/
.box { 
    margin-top: 40px; 

}

.container { max-width: 1000px; width: 85%;}

.box h3 {
    padding-top: 70px;
    margin-bottom: 20px;
}

.deleteColumn {
    width: 50px;
    
}



.deleteCell {
    text-align: center;
}


.buttonContainer {
    display: inline-block;
   
}



/*-------------------------*/
/*      PLANS TABLE      */
/*-------------------------*/

.planLink:link,
.planLink:visited {
    color:  #848484;
}

.planLink:active,
.planLink:hover {
    color: black;
    text-decoration: none;
}


/*-------------------------*/
/*      MODULES TABLE      */
/*-------------------------*/

.selectedModules tbody tr th {
    width: 80px;
} 

.clearTableButton {
    margin-left: 10px;
}

/*-------------------------*/
/* PANEL FOR MODULE SPLIT  */
/*   AND CLEAR TABLE       */
/*-------------------------*/
.dropdown label {
    margin-right: 10px;
}

.panel {
    margin-top: 20px;
}

/*-------------------------*/
/*      SAVE PLAN BAR      */
/*-------------------------*/

.savePlanBar {
    margin-top: 30px;
}
.savePlan .alert {
    margin-top: 30px;
    display: none;
}


/*-------------------------*/
/*     LIST OF TABLES      */
/*-------------------------*/

.table-list table { margin-bottom: 60px; }


.ui-disabled {
    background-color: #d1d1d1 !important;
}

